<!DOCTYPE html>
<html ng-app="radar" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Radar</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="container-fluid" ng-controller="main">
    <div class="row">
        <div class="col-md-5 esquerda">
            <button ng-click="change_monitor_view(1, 1)" class="painel-btn"/>Controle de voo</button>
            <button ng-click="change_monitor_view(1, 2)" class="painel-btn"/>Adicionar Voo</button>
            <button class="painel-btn"/>Remover Voo</button>
            <button ng-click="change_monitor_view(1, 5)" class="painel-btn"/>Configurações sim.</button>
            <div class="row">
                <div class="col-md-12 monitor-border">
                    <img src="/public/img/frame-border.png" />
                    <div ng-if="monitor_1_view == 0" class="monitor">
                        <p>Mensagem</p>
                        <p>------------</p>
                        {{ mensagem.texto }}
                        <br/>
                        <button ng-click="mensagem.confirmar_mensagem()">ok</button>
                    </div>
                    <div ng-if="monitor_1_view == 1" class="monitor">
                        <p>Voos</p>
                        <p>----------------------------------</p>
                        <p>Número&nbsp;X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y&nbsp;&nbsp;&nbsp;Rotação&nbsp;&nbsp;Vel.</p>
                        <p class="monitor" ng-repeat="voo in voos">
                            {{ $index }}
                            <input  style="width: 80px; margin-right: 0px;" class="monitor" type="text" ng-model="voo.numero"/>
                            <input style="width: 70px; margin-right: 0px;" class="monitor" type="number" ng-model="voo.x"/>
                            <input style="width: 70px; margin-right: 0px;" class="monitor" type="number" ng-model="voo.y"/>
                            <input style="width: 65px; margin-right: 0px; text-align: right;" class="monitor" min="0" max="359" type="number" ng-model="voo.rotacao"/>º
                            <input style="width: 50px; margin-left: 15px;" class="monitor" type="number" ng-model="voo.velocidade"/> Km/h
                            <button ng-click="localizar_voo($index)">Localizar</button>
                        </p>
                    </div>
                    <div ng-if="monitor_1_view == 2" class="monitor">
                        <p>Adicionar novo voo</p>
                        <p>-------------Dados-----------------</p>
                        Numero:<input style="width: 80px; margin-right: 0px;" class="monitor" type="text" ng-model="voo_add.numero"/>
                        <p>----Cordenadas----</p>
                        Cartesiana - X:<input style="width: 70px; margin-right: 0px;" class="monitor" type="number" ng-model="voo_add.x"/>
                        Y:<input style="width: 70px; margin-right: 0px;" class="monitor" type="number" ng-model="voo_add.y"/><br/>
                        Polar - Raio:<input style="width: 70px; margin-right: 0px;" class="monitor" type="number" ng-model="voo_add.raio_polar"/>
                        Angulo:<input style="width: 65px; margin-right: 0px; text-align: right;" class="monitor" min="0" max="359" type="number" ng-model="voo_add.angulo_polar"/>°
                        <p>-----Outros------</p>
                        Rotação:<input style="width: 65px; margin-right: 0px; text-align: right;" class="monitor" min="0" max="359" type="number" ng-model="voo_add.rotacao"/>°<br/>
                        Velocidade:<input style="width: 50px; margin-left: 15px;" class="monitor" type="number" ng-model="voo_add.velocidade"/>Km/h
                        <p>-----------------</p>
                        <button ng-click="adicionar_voo()">Confirmar</button>
                    </div>
                    <div ng-if="monitor_1_view == 5" class="monitor">
                        <p>Configurações da simulação</p>
                        <p>-------------Dados-----------------</p>
                        <div>
                            <label for="proporcao_tempo">Proporção do tempo para cada segundo:
                            <input id="proporcao_tempo" style="width: 100px; margin-right: 0px; text-align: right" class="monitor" type="number" ng-model="config.proporcao_tempo"/> s
                        </div>
                        <br/>
                        <div>
                            <label for="distancia_aeroporto">Distancia(Km) do aeroporto para alerta:
                            <input id="distancia_aeroporto" style="width: 100px; margin-right: 0px; text-align: right" class="monitor" type="number" ng-model="config.distancia_minima_aeroporto"/> Km
                        </div>
                        <br/>
                        <div>
                            <label for="distancia_avioes">Distancia(Km) dos aviões para alerta:
                            <input id="distancia_avioes" style="width: 100px; margin-right: 0px; text-align: right" class="monitor" type="number" ng-model="config.distancia_minima_avioes"/>Km
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 monitor-border">
                    <img src="/public/img/frame-border.png" />
                    <div class="monitor">
                        <p>Relatório
                        <div ng-if="texto.length > 0" ng-repeat="texto in relatorio">
                            <p>----------------------------------</p>
                            <p>{{texto}}</p>
                            <p>----------------------------------</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 esquerda">
            <div class="row">
                <div class="col-md-12">
                        <svg  style="clip-path: circle(48% at 49.7% 49.3%)" ng-mousedown="iniciar_tracking_mouse_radar($event)" ng-mouseup="parar_tracking_mouse_radar($event)" ng-mouseleave="parar_tracking_mouse_radar($event)" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 994 990" style="enable-background:new 0 0 994 990;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#333333;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
                                .st1{fill:#808080;stroke:#999999;stroke-width:2;stroke-miterlimit:10;}
                                .st2{fill:#4D4D4D;stroke:#1A1A1A;stroke-width:0.25;stroke-miterlimit:10;}
                                .st3{fill:none;stroke:#333333;stroke-width:0.75;stroke-miterlimit:10;}
                                .st4{fill:none;stroke:#FFFF00;stroke-width:0.5;stroke-miterlimit:10;}
                                .st5{opacity:8.000000e-02;fill:url(#SVGID_1_);}
                            </style>
                            <circle ng-mouseover="mouse_over_radar($event)"  class="st0" cx="495.4" cy="488.8" r="450">
                                
                            </circle>
                            <image rota height="10000px" width="10000px" transform="translate( {{calc_x(-450)}}, {{calc_y(-450)}} )" xlink:href="public/outros/mundo.svg"/>
                            <text style="user-select: none" transform="translate( 400, 80 )" fill="white">Cordenadas: X: {{ (radar.dif_x - radar.dif_x_c).toFixed(1) }}</text>
                            <text style="user-select: none" transform="translate( 560, 80 )" fill="white">Y: {{ (radar.dif_y - radar.dif_y_c).toFixed(1) }}</text>
                            <g>
                                <path class="st1" d="M175,159.3l-21.3,21.3c-4.7,4.7-12.3,4.7-17,0l-46.4-46.4c-4.7-4.7-4.7-12.3,0-17L111.6,96
                                    c4.7-4.7,12.3-4.7,17,0l46.4,46.4C179.7,147,179.7,154.7,175,159.3z"/>
                                <g>
                                    <circle class="st2" cx="119.1" cy="124.8" r="17.2"/>
                                    <line class="st3" x1="118.6" y1="109.8" x2="119.1" y2="139.8"/>
                                </g>
                            </g>
                            <g>
                                <path class="st1" d="M803.4,830.4l21.3-21.3c4.7-4.7,12.3-4.7,17,0l46.4,46.4c4.7,4.7,4.7,12.3,0,17l-21.3,21.3
                                    c-4.7,4.7-12.3,4.7-17,0l-46.4-46.4C798.8,842.7,798.8,835.1,803.4,830.4z"/>
                                <g>
                                    <circle class="st2" cx="859.3" cy="865" r="17.2"/>
                                    <line class="st3" x1="859.8" y1="880" x2="859.3" y2="850"/>
                                </g>
                            </g>
                            <g>
                                <path class="st1" d="M182.7,821.1l21.3,21.3c4.7,4.7,4.7,12.3,0,17l-46.4,46.4c-4.7,4.7-12.3,4.7-17,0l-21.3-21.3
                                    c-4.7-4.7-4.7-12.3,0-17l46.4-46.4C170.4,816.5,178.1,816.5,182.7,821.1z"/>
                                <g>
                                    <circle class="st2" cx="148.2" cy="877" r="17.2"/>
                                    <line class="st3" x1="133.2" y1="877.5" x2="163.2" y2="877"/>
                                </g>
                            </g>
                            <g>
                                <path class="st1" d="M849.5,197l-21.3-21.3c-4.7-4.7-4.7-12.3,0-17l46.4-46.4c4.7-4.7,12.3-4.7,17,0l21.3,21.3
                                    c4.7,4.7,4.7,12.3,0,17L866.4,197C861.8,201.7,854.1,201.7,849.5,197z"/>
                                <g>
                                    <circle class="st2" cx="884" cy="141.2" r="17.2"/>
                                    <line class="st3" x1="899" y1="140.6" x2="869" y2="141.1"/>
                                </g>
                            </g>
                            <g>
                                <line class="st4" x1="495.4" y1="38.8" x2="495.4" y2="938.8"/>
                                <line class="st4" x1="720.4" y1="878.5" x2="270.4" y2="99.1"/>
                                <line class="st4" x1="945.4" y1="488.8" x2="45.4" y2="488.8"/>
                                <line class="st4" x1="885.1" y1="713.8" x2="105.7" y2="263.8"/>
                                <line class="st4" x1="885.1" y1="263.8" x2="105.7" y2="713.8"/>
                                <line class="st4" x1="720.4" y1="99.1" x2="270.4" y2="878.5"/>
                            </g>
                            <circle class="st4" cx="495.4" cy="488.8" r="225"/>
                            <circle class="st4" cx="495.4" cy="488.8" r="112.5"/>
                            <circle class="st4" cx="495.4" cy="488.8" r="337.5"/>
                            <g>
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="45.3871" y1="426.8073" x2="869.8024" y2="426.8073">
                                    <stop  offset="0" style="stop-color:#FFFFFF"/>
                                    <stop  offset="1" style="stop-color:#000000"/>
                                </linearGradient>
                                <path class="st5" d="M299.2,198C477.8,71.4,717.1,93.5,869.8,239.2c-2.4-3.6-4.8-7.1-7.3-10.6C718.7,25.8,437.9-22,235.1,121.8
                                    S-15.4,546.4,128.3,749.2c17.1,24.1,36.1,46,56.7,65.6C50.3,613,99.9,339.3,299.2,198z"/>
                            </g>
                            <g>
                                <g>
                                    <g>
                                        <defs>
                                            <path id="SVGID_2_" d="M974.4,488.8c-4.7,0-7,0-7,0c-2.3,0-4.7,0-7,0c-2.3,0-4.7,0-7,0c0,0-2.3,0-7,0
                                                c0,59.1-11.5,114.2-30.1,162.3c-9.3,24.1-20.3,46.5-32.6,67.1C871.5,739,858,757.8,844,774.9c-28.1,34.3-58.9,61.4-89,82.7
                                                c-15.1,10.6-30,19.8-44.6,27.8c-14.6,7.9-28.8,14.6-42.4,20.2c-13.6,5.7-26.7,10.3-39,14.1c-12.3,3.8-24,6.8-34.8,9.2
                                                c-2.7,0.6-5.4,1.2-7.9,1.7c-2.6,0.5-5.2,1-7.6,1.5c-1.2,0.2-2.5,0.5-3.7,0.7c-1.2,0.2-2.4,0.4-3.6,0.6c-2.4,0.4-4.7,0.8-7,1.2
                                                c-4.6,0.6-8.9,1.3-13,1.8c-4.1,0.4-8,1-11.7,1.3c-14.7,1.5-25.8,1.8-33.2,2c-7.4,0.1-11.1,0.1-11.1,0.1h0
                                                c-29.5,0-59.1-2.9-88-8.6c-29-5.7-57.3-14.3-84.6-25.6c-54.5-22.6-104.5-56.1-146.3-97.9C134.7,766,101.2,716,78.6,661.4
                                                c-11.3-27.3-19.9-55.6-25.6-84.6c-5.7-29-8.6-58.5-8.6-88v0c0-29.5,2.9-59.1,8.6-88c5.7-29,14.3-57.3,25.6-84.6
                                                c22.6-54.5,56.1-104.5,97.9-146.3c41.8-41.8,91.7-75.3,146.3-97.9c27.3-11.3,55.6-19.9,84.6-25.6c29-5.7,58.5-8.6,88-8.6h0
                                                c0,0,3.7,0,11.1,0.1c7.4,0.3,18.5,0.5,33.2,2c3.7,0.3,7.6,0.8,11.7,1.3c4.1,0.5,8.5,1.2,13,1.8c2.3,0.4,4.6,0.8,7,1.2
                                                c1.2,0.2,2.4,0.4,3.6,0.6c1.2,0.2,2.4,0.5,3.7,0.7c2.5,0.5,5,1,7.6,1.5c2.6,0.6,5.2,1.1,7.9,1.7c10.8,2.4,22.4,5.4,34.8,9.2
                                                c12.3,3.8,25.4,8.5,39,14.1c13.6,5.7,27.8,12.3,42.4,20.2c14.6,8,29.5,17.2,44.6,27.8c30.1,21.3,60.8,48.4,89,82.7
                                                c14,17.1,27.5,36,39.7,56.6c12.3,20.6,23.3,43.1,32.6,67.1c18.6,48.1,30.1,103.2,30.1,162.3c4.7,0,7,0,7,0c2.3,0,4.7,0,7,0
                                                c2.3,0,4.7,0,7,0C967.4,488.8,969.7,488.8,974.4,488.8c0-31.3-3.1-61.7-8.6-90.6c-5.5-28.9-13.5-56.3-23.4-81.9
                                                c-9.9-25.6-21.6-49.4-34.6-71.3c-12.9-21.9-27.2-41.9-42.1-60.1c-29.9-36.4-62.5-65.2-94.4-87.8c-16-11.3-31.9-21-47.4-29.5
                                                c-15.5-8.4-30.6-15.5-45.1-21.5c-14.5-6-28.4-10.9-41.5-15c-13.1-4.1-25.5-7.2-36.9-9.8c-2.9-0.6-5.7-1.2-8.4-1.8
                                                c-2.8-0.5-5.5-1-8.1-1.6c-1.3-0.3-2.6-0.5-3.9-0.7c-1.3-0.2-2.6-0.4-3.9-0.6c-2.5-0.4-5-0.8-7.4-1.2c-4.9-0.7-9.5-1.4-13.8-1.9
                                                c-4.4-0.5-8.5-1-12.4-1.4c-15.6-1.6-27.4-1.9-35.2-2.1c-7.8-0.1-11.8-0.1-11.8-0.1h0c-31.3,0-62.7,3.1-93.4,9.1
                                                C371.2,25.1,341,34.2,312,46.2c-58,24-111,59.6-155.4,103.9c-44.3,44.3-79.9,97.4-103.9,155.4c-12,29-21.1,59.1-27.2,89.9
                                                c-6.1,30.8-9.1,62.1-9.1,93.4v0c0,31.3,3.1,62.7,9.1,93.4c6.1,30.8,15.2,60.9,27.2,89.9c24,58,59.6,111,103.9,155.4
                                                c44.3,44.3,97.4,79.9,155.4,103.9c29,12,59.1,21.1,89.9,27.2c30.8,6.1,62.1,9.1,93.4,9.1h0c0,0,3.9,0,11.8-0.1
                                                c7.8-0.3,19.6-0.6,35.2-2.1c3.9-0.3,8-0.9,12.4-1.4c4.4-0.5,9-1.2,13.8-1.9c2.4-0.4,4.9-0.8,7.4-1.2c1.3-0.2,2.6-0.4,3.9-0.6
                                                c1.3-0.2,2.6-0.5,3.9-0.7c2.6-0.5,5.4-1,8.1-1.6c2.8-0.6,5.6-1.2,8.4-1.8c11.5-2.6,23.8-5.7,36.9-9.8c13.1-4.1,27-9,41.5-15
                                                c14.5-6,29.6-13.1,45.1-21.5c15.5-8.4,31.4-18.2,47.4-29.5c32-22.6,64.6-51.4,94.4-87.8c14.9-18.2,29.2-38.2,42.1-60.1
                                                c13-21.9,24.7-45.7,34.6-71.3c9.9-25.6,17.9-53,23.4-81.9C971.3,550.5,974.4,520.2,974.4,488.8z"/>
                                        </defs>
                                        <clipPath id="SVGID_3_">
                                            <use xlink:href="#SVGID_2_"  style="overflow:visible;"/>
                                        </clipPath>
                                        <g style="clip-path:url(#SVGID_3_);">
                                            
                                            <image style="overflow:hidden;" width="1997" height="1997" xlink:href="public/outros/border-radar.png" transform="matrix(0.48 0 0 0.48 16.04 9.44)">
                                            </image>
                                        </g>
                                    </g>
                                </g>
                            </g>
                            <g style="user-select: none;">
                                <text transform="translate( {{calc_x(-2)}}, {{calc_y(-1)}} )" fill="white">Aeroporto</text>
                                <image rota height="20px" width="20px" transform="translate( {{calc_x(0)}}, {{calc_y(0)}} )" xlink:href="public/outros/airport.svg"/>
                            </g>
                            <g style="cursor: pointer; user-select: none;" ng-repeat="voo in voos">
                                <text transform="translate( {{calc_x(voo.x - 3)}}, {{calc_y(voo.y - 3.5)}} )" fill="white">Voo: {{ voo.numero }} </text>
                                <text transform="translate( {{calc_x(voo.x - 3)}}, {{calc_y(voo.y - 2)}} )" fill="white">Raio: {{ voo.raio_polar }} / Angulo: {{ voo.angulo_polar }}°</text>
                                <text transform="translate( {{calc_x(voo.x - 3)}}, {{calc_y(voo.y - 0.5)}} )" fill="white">Dist. Aeroporto: {{ voo.distancia_aeroporto }}</text>
                                <image rota height="20px" width="20px" transform="translate( {{calc_x(voo.x)}}, {{calc_y(voo.y)}} ) rotate( {{ tirar_diferenca(voo.rotacao) }} 10 10)" xlink:href="public/outros/plane.png"/>
                            </g>
                        </svg>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1  col-md-offset-5">
                    <button ng-if="simulando == false" ng-click="simular()" class="painel-btn center"/>Simular</button>
                    <button ng-if="simulando == true" ng-click="parar_simular()" class="painel-btn center"/>Parar simulacao</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/jquery-3.3.1.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/angular.min.js"></script>
    <script src="/public/js/app.js"></script>
</body>
</html>